#-------------
grant_type=password
username=
password=
client_id=3MVG9Y6d_Btp4xp5jH6WSG8ya3wd_x88ZPInpeOQ5F1BeaJjQTkGWALuxK16uPRhnzwwwcfbmkHUCBCdN0epo
client_secret=3599380057252448851
access_token=
refresh_token=
authentication_server_url=https://login.salesforce.com/services/oauth2/token
resource_server_url=
#------------------------------------------------






















