<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/openhmis</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.javax.persistence.validation.mode">none</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="org.openhmis.domain.TmpMedicalAssistance" />
        <mapping class="org.openhmis.domain.TmpProjectContinuum" />
        <mapping class="org.openhmis.domain.TmpProjectInventory" />
        <mapping class="org.openhmis.domain.TmpProjectSite" />
        <mapping class="org.openhmis.domain.TmpEnrollment" />
        <mapping class="org.openhmis.domain.TmpPhysicalDisability" />
        <mapping class="org.openhmis.domain.SchemaVersion" />
        <mapping class="org.openhmis.domain.TmpExit" />
        <mapping class="org.openhmis.domain.TmpReferral" />
        <mapping class="org.openhmis.domain.PathClientVeteranInfo" />
        <mapping class="org.openhmis.domain.TmpContact" />
        <mapping class="org.openhmis.domain.TmpMentalHealthProblem" />
        <mapping class="org.openhmis.domain.TmpHealthInsurance" />
        <mapping class="org.openhmis.domain.TmpProject" />
        <mapping class="org.openhmis.domain.TmpChronicHealthCondition" />
        <mapping class="org.openhmis.domain.TmpHivAidsStatus" />
        <mapping class="org.openhmis.domain.TmpService" />
        <mapping class="org.openhmis.domain.TmpOrganization" />
        <mapping class="org.openhmis.domain.TmpDomesticAbuse" />
        <mapping class="org.openhmis.domain.PathClientProgram" />
        <mapping class="org.openhmis.domain.TmpProjectFunder" />
        <mapping class="org.openhmis.domain.PathClient" />
        <mapping class="org.openhmis.domain.TmpFinancialAssistance" />
        <mapping class="org.openhmis.domain.TmpSubstanceAbuse" />
        <mapping class="org.openhmis.domain.TmpNonCashBenefit" />
        <mapping class="org.openhmis.domain.TmpIncomeSource" />
        <mapping class="org.openhmis.domain.PathClientRace" />
        <mapping class="org.openhmis.domain.TmpDevelopmentalDisability" />
    </session-factory>
</hibernate-configuration>
