@font-face {
    font-family: 'pm-regular';
    src: url('../fonts/alt_regular-webfont.eot');
    src: url('../fonts/alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alt_regular-webfont.woff2') format('woff2'),
         url('../fonts/alt_regular-webfont.woff') format('woff'),
         url('../fonts/alt_regular-webfont.ttf') format('truetype'),
         url('../fonts/alt_regular-webfont.svg#proxima_nova_alt_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pm-bold';
    src: url('../fonts/alt_bold-webfont.eot');
    src: url('../fonts/alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alt_bold-webfont.woff2') format('woff2'),
         url('../fonts/alt_bold-webfont.woff') format('woff'),
         url('../fonts/alt_bold-webfont.ttf') format('truetype'),
         url('../fonts/alt_bold-webfont.svg#proxima_nova_alt_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{font-family: 'pm-regular' !important; color:#4e5153 !important; font-weight:normal !important; font-size:16px !important;}
h1, h2, h3, h4, h5{ padding:0px; margin:0px; font-weight:normal; }
h3{font-family: 'pm-bold'; color:#4e5153; font-weight:normal !important; font-size:18px !important;}
h4{font-family: 'pm-bold'; color:#4e5153; font-weight:normal !important; font-size:15px !important;}
h5{font-family: 'pm-regular';  color:#0479b4;  font-weight:bold !important; font-size:13px !important;}
p{font-family: 'pm-regular';  color:#4e5153;  font-weight:normal !important; font-size:15px !important;}
p.tmini{ font-size:11px !important; padding:10px 0px; margin:0px;}
.txtcenter{ text-align:center !important}
.txtright{ text-align:right !important}
.borderl{ border-left:1px solid #e3e4e3}
table tr td{font-family: 'pm-regular';  color:#4e5153;  font-weight:normal !important; font-size:15px !important;}
.mheader {
	background: #1b93cf !important;
	border-bottom: none !important;
	height: 24px; padding:7px 0 13px;
}
.mheader h1.ui-title {
	color: #fff;
	text-shadow: none;
	 font-family: 'pm-bold';
	font-size:20px; padding:0px;
}
.maincontent {
	margin: 15px 20px;
	padding: 0px !important;
}
.maincontent a.ui-table-columntoggle-btn{ display:none;}
.maincontent table tr td div.ui-input-text{ border:0px !important; border-radius:0px !important}
.maincontent table tr td div.ui-input-text input{ padding-left:0px;}
.logo {
	text-align: center;
	margin: 10px 0px 40px;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background: #fff !important;
}
.ui-input-text input, .ui-input-search input {
	background: #fff !important;
	border-radius: 0px
}
.loginform .ui-input-text {
	border: none;
	border-bottom: 1px solid #e3e4e3;
	border-radius: 0px;
	margin:0px;
}
.loginform .ui-input-text input {
	border-radius: 0px;
	color: #848b8f !important;
	height:50px;
	font-size:15px;
	font-family: 'pm-regular';
}
.ui-input-text input::-moz-placeholder, .ui-input-search input::-moz-placeholder, textarea.ui-input-text::-moz-placeholder {
color:#848b8f !important;
}
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus
{ box-shadow:none !important}
.blubtn{
	background: #1b93cf !important;
	color: #fff !important;
	opacity: 1.0 !important;
	text-shadow: none !important;
	border-radius:0px !important;
	border:none !important;
	height:50px; line-height:50px !important; padding:0px !important;
	font-size:20px !important;
	font-family: 'pm-bold' !important; font-weight:normal !important;
} 
.whitebtn{
	background: #fff !important;
	color: #1b93cf !important;
	opacity: 1.0 !important;
	text-shadow: none !important;
	border-radius:0px !important;
	border:1px solid #1b93cf !important;
	height:50px; line-height:50px !important; padding:0px !important;
	font-size:20px !important;
	font-family: 'pm-bold' !important; font-weight:normal !important;
}
.loginform .ui-input-btn {
	width: 100%;
	box-shadow: none;
	padding: 0.7em 0px;
	border-radius: none;
	border: none
}
.ui-btn.ui-input-btn.ui-corner-all {
	border-radius: 0px !important
}
.ui-icon-bars:after {
    /*  background-image: url("http://www.mywine.info/images/theme/home.png");
   Make your icon fit */
    background-size: 32px 32px;
    background-color: transparent;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    width: 60px  !important;
    height: 32px  !important;
    margin-top: -15px !important;
    margin-left: -15px !important;
	 
	border:none;
}
.border-top{}
.mtp10{ margin-top:10px !important;}
.mtp20{ margin-top:15px !important;}
.mtp40{ margin-top:40px !important;}
.pdlt0{ padding-left:0px !important}
.padlt15{padding-left:15px !important}
.padrt10{ padding-right:10px}
.padrt20{ padding-right:20px !important}
.forgotpass { text-align:right;  }
.forgotpass a{ font-weight:normal !important; text-decoration:none; color:#1b93cf !important; font-size:15px !important;font-family: 'pm-regular';}
.ui-checkbox{ margin:0px !important}
.ui-checkbox label{  border:none !important; font-weight:normal !important; background:#FFF !important; padding:0px 0px 0px 28px !important; color:#3d4042 !important; font-size:15px !important;font-family: 'pm-regular';}
.ui-btn-icon-left:after{left:0px !important;  }
.footerlink{ background:none !important; border:none !important; margin-top:80px; margin-bottom:20px;}
.footerlink p{ text-align:center; padding:5px 0px !important; margin:0px;}
.footerlink p a{ font-weight:normal; text-decoration:none;}
.iconbar { border:none !important; background:none !important; box-shadow:none !important; background-size:200% 200% !important}
.iconbar:after{ background-color:none !important}
.agerange .ui-rangeslider-sliders{ clear:both; width:100% !important; margin-left:0px !important}
.agerange .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track{ background:#edeff0; border:1px solid #c6c7c9;-webkit-border-radius: 20px; -moz-border-radius: 20px;border-radius: 20px;}
.agerange  .ui-rangeslider-sliders div.ui-slider-track:first-child{ height:30px !important;}
.agerange .ui-slider-track{ height:30px;}
.agerange .ui-rangeslider-sliders ui-slider-track:nth-child(2) a.ui-slider-handle{ margin-right:0px !important}
.agerange .ui-slider-track .ui-btn.ui-slider-handle{-webkit-border-radius: 20px; -moz-border-radius: 20px;border-radius: 20px; border:6px solid #fff; width:20px; height:20px;
background: rgba(234,234,234,1);
background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,234,234,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0 );

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.agerange .ageboxl{   left:8px !important;}
}

@-moz-document url-prefix() { 
.agerange .ageboxr{right: 18px !important}
.agerange .agetxtr{ right:6px !important}
 	.agerange .ageboxl{ left:3px !important;}
	
}
.ui-rangeslider .ui-rangeslider-last{ margin-right:15px;}
.agerange input.ui-slider-input{ border:none; box-shadow:none; }
.agerange { position:relative;}
.agerange .ageboxl{ position:absolute; top:-4px; left:7px;}
.agerange .ageboxr{ position:absolute; top:-4px; right:4px;}
.agerange .agetxtl{ position:absolute; z-index:99; top:-12px; left:35px;}
.agerange .agetxtr{ position:absolute; z-index:99; top:-12px; right:0px;}
.sresult ul{ padding:0px; margin:0px; border-top:1px solid #e3e4e3}
.sresult ul.ui-listview li a{ border:none; padding-top:0px; padding-bottom:0px;}
.sresult table tr td.btmboder{border-bottom:1px solid #e3e4e3}
.sresult .hcaccord .ui-collapsible-content{ margin-top:0px !important; margin-bottom:0px !important; padding-top:0px !important; padding-bottom:0px !important;}
.sresult .hcaccord .ui-collapsible h3.ui-collapsible-heading a{ padding:14px 15px;} 
.sresult .hcaccord .ui-collapsible h3.ui-collapsible-heading a span{ font-weight:normal; font-size:12px; font-family: 'pm-regular';  }
.sresult .hcaccord .ui-collapsible h3.ui-collapsible-heading a:after{ background:none !important; top:19px; height:32px;   background-image:url(../img/r-arrow.jpg) !important; background-repeat:no-repeat; background-position:0 4px !important}
.bgarrow{  background:url(../img/r-arrow.jpg) right center no-repeat !important; }
.bgarrowrt{  background:url(../img/r-arrow.jpg) right 5px center no-repeat !important; }
.noborder{border:none !important;}
.sresult ul li.nopad{ padding:0px;}
.sresult ul li.nopad .ui-grid-a .ui-bar-a{ background:none;}
.sresult ul li.nopad .ui-grid-a .ui-block-a .ui-bar-a{ border:none;}
.sresult ul li.nopad .ui-grid-a .ui-block-b .ui-bar-a{ border-right:none; border-top:none; border-bottom:none; padding-left:10px;}
.sresult ul li.nopad .ui-grid-a .ui-block-b .ui-bar-a .ui-bar-a { padding-left:0px !important; border:none !important}
.sresult ul li{  margin:0px; list-style:none;  padding:12px 0px; background:url(../img/r-arrow.jpg) right center no-repeat}
.sresult ul li .clientmenu span{ display:block; float:left; padding-right:25px; font-weight:normal; font-family: 'pm-regular'; font-size:1em;}
.sresult ul li a{ background:none !important; background-image:none !important; text-decoration:none; font-weight:normal; color:#3d4042 !important}
.sresult ul li a:after{ background:none !important}
.nobg{ background:none !important;}
.userimg{ width:75px; display:inline-block}
.userimg img{ max-width:100%; height:auto; -webkit-border-radius: 75px !important; -moz-border-radius: 75px !important;border-radius: 75px !important;}
.userdesc{ display:inline-block; vertical-align:top; padding:10px 0px 0px 20px;}

.userdesc h4, h5{ padding:0px; margin:0px;}
.hdright{ background:none !important; border:none !important; padding:0px !important; box-shadow:none !important; vertical-align:middle  }
.hdright img{ width:40px; height:32px; padding-top:6px}
.contscroll{ border:1px solid #e3e4e3; padding:10px; max-height:300px; height:auto; overflow-y:scroll; font-size:14px;} 
.rightarrow{ background:url(../img/r-arrow.jpg) right center no-repeat}
.cvcard{ background:#f1f2f3; min-height:160px; margin-bottom:20px;}
.cvarddesc{ padding-right:15px; position:relative}
.cvarddesc .editbtn{ position:absolute; right:0px; top:15px;}
.cvarddesc .editbtn img{ margin-right:15px;}
.cvarddesc hr{  border:none; background:#b7b7b7; height:1px; margin:5px 0px;}
.cvarddesc h4{ padding:15px 0px 3px 0px; color:#0479b4;}
.cvarddesc p{ padding:0px !important; margin:0px !important;}
.cvardid { margin:15px; float:left; position:relative}
.cvardid .cameraicon{ position:absolute; right:-15px; bottom:0px;}
.cvardid .cameraicon img{ height:25px; width:30px; margin-right:15px;  -webkit-border-radius: 0px; -moz-border-radius: 0px;border-radius: 0px;}
.cvardid img{ -webkit-border-radius: 130px; -moz-border-radius: 130px;border-radius: 130px; height:130px; width:130px;}
.ui-panel.ui-panel-position-left.ui-panel-display-push{ background:#3a3f43}
.ui-panel.ui-panel-position-left.ui-panel-display-push h3{ text-align:center; line-height:30px; height:40px; color:#fff; text-shadow:none;}
.ui-panel.ui-panel-position-left.ui-panel-display-push  ul { margin:0px 2px;}
.ui-panel.ui-panel-position-left.ui-panel-display-push  ul li{ background:none; border:none; text-shadow:none; color:#fff; text-align:left; padding:0px 0px 0px 35px !important; min-height:45px;}
.protblt{ padding:0px 0px 0px 0px !important}
.protblr{ padding:0px 0px 0px 15px !important}
 
.sresult .ui-collapsible-set .ui-collapsible h3 a{ background:none; font-size:15px !important; color:#4e5153}
 
.locationicon img{ width:13px; height: auto; line-height:25px; padding-right:10px; float:left}
.leftcounter .ui-bar{ margin-right:15px !important;}
.rightcounter .ui-bar{ margin-right:15px !important;}
.leftcounter .ui-bar.ui-bar-a{ padding:0px;}
.box.countbox .ui-btn { margin:0px !important; border-radius:0px !important;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 51%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(251,251,251,1)), color-stop(100%, rgba(242,242,242,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 51%, rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 51%, rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 51%, rgba(242,242,242,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 51%, rgba(242,242,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );
}
.box.countbox .ui-input-text{ margin:0px !important; border-radius:0px !important; }
.box.countbox .ui-input-text input{ text-align:center; background:#edeff0 !important;
-webkit-box-shadow: 40px 40px 123px 0px rgba(0,0,0,1);
-moz-box-shadow: 40px 40px 123px 0px rgba(0,0,0,1);
box-shadow: 40px 40px 123px 0px rgba(0,0,0,1);
border:1px solid #e4e6e8;
}
.push-menu ul li a{ background:none !important; border:none !important; color:#fff !important; font-weight:normal !important; text-align:left !important; padding:0px 0px 0px 40px !important; background-image:none !important; font-size:15px;}
.push-menu ul li a:after{ background:none !important; background-image:none !important}
.rightcounter .ui-bar.ui-bar-a{ padding:0px !important;}
input {
	font-size: 2.4em;
	background-color: transparent;
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: #fff;
}

label {
	display: block;
	font-size: .8em;
}

button {
	/* basics */
	color: #444;
	background-color: #B5B198;
 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;

}

button:hover, button:active, button:focus {
	background-color: #CBC7AE;
}

.box {
 
 
    text-align: center;
 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
 
    width: auto;
	margin: 0 auto; outline:none;
 
  
}
.caliconpos{ position:relative}
.calicon{ position:absolute; top:60px; right:0px}
.calicon span{ display:block; height:40px; line-height:29px; float:left; padding-right:10px;}
.posrel{ position:relative}
.yesorno{ position:absolute; top:15px; right:38px; font-size:13px;}
.marrt{ margin-right:20px !important;}
@media (max-width:470px){.calicon{ position:absolute; top:72px; right:0px}}
 
label.error{
    color: red !important;
}

.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
