application.version=3.1.0

google.clientId=
google.secret=

hibernate.dialect=
hibernate.connection.url=
hibernate.connection.username=
hibernate.connection.password=
hibernate.connection.driver_class=