<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<!-- BEGINNING OF CONFIG SETTINGS -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost/myDatabasename</property>
		<property name="connection.username">myUsername</property>
		<property name="connection.password">myPassword</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="javax.persistence.validation.mode">none</property>
		<!-- ENDING OF CONFIG SETTINGS -->

        <mapping class="org.openhmis.domain.TmpProjectFunder" />
        <mapping class="org.openhmis.domain.PathClientProgram" />
        <mapping class="org.openhmis.domain.PathClientVeteranInfo" />
        <mapping class="org.openhmis.domain.PathClient" />
        <mapping class="org.openhmis.domain.TmpProjectSite" />
        <mapping class="org.openhmis.domain.TmpProjectInventory" />
        <mapping class="org.openhmis.domain.TmpProjectContinuum" />
        <mapping class="org.openhmis.domain.TmpProject" />
        <mapping class="org.openhmis.domain.PathClientRace" />
        <mapping class="org.openhmis.domain.TmpOrganization" />

	</session-factory>

</hibernate-configuration>