<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://server8.jsp-servlet.net:3306/openhmis2</property>
        <property name="hibernate.connection.username">root</property>
        <property  name="hibernate.connection.password">change_me</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

       <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
       <property name="hibernate.current_session_context_class">thread</property>
       <property name="show_sql">true</property>
       <property name="hbm2ddl.auto">validate</property>
		
        <mapping class="org.openhmis.domain.Client" />
        <mapping class="org.openhmis.domain.Ethnicity" />
        <mapping class="org.openhmis.domain.Gender" />
        <mapping class="org.openhmis.domain.Race" />
    </session-factory>
</hibernate-configuration>
